<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EaglePegatronLongedClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A5363B51F3326B700A7C6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5363C91F3326B800A7C6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5363D41F3326B800A7C6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
